In [3]:
import pandas as pd
import numpy as np

In [4]:
PrimoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Corrispettivi primo trimestre.csv',
                             sep=';', encoding='latin1')

In [5]:
SecondoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Corrispettivi secondo trimestre.csv',
                                sep=';', encoding='latin1')

In [6]:
Corrispettivi = pd.concat([PrimoTrimestre, SecondoTrimestre], ignore_index=True)

In [7]:
Corrispettivi

,Id invio,Matricola dispositivo,Data e ora rilevazione,Data e ora trasmissione,Ammontare delle vendite (totale in euro),Imponibile vendite (totale in euro),Imposta vendite (totale in euro),Periodo di inattivita' da,Periodo di inattivita' a
0,'2839397212','96MFS011224',31/03/2025 18:15:24,31/03/2025 18:15:42,"000000000405,73","000000000405,73","000000000040,57",NaN,NaN
1,'2839397311','96MFS011224',31/03/2025 04:37:34,31/03/2025 18:15:46,"000000000000,00","000000000000,00","000000000000,00",30/03/2025 00:00:00,30/03/2025 23:59:59
2,'2836674162','96MFS011224',29/03/2025 15:03:11,29/03/2025 15:02:43,"000000000311,27","000000000205,82","000000000020,58",NaN,NaN
3,'2835230894','96MFS011224',28/03/2025 18:29:52,28/03/2025 18:29:24,"000000000429,36","000000000429,36","000000000042,94",NaN,NaN
4,'2833674013','96MFS011224',27/03/2025 18:26:37,27/03/2025 18:26:10,"000000000709,15","000000000709,15","000000000070,91",NaN,NaN
...,...,...,...,...,...,...,...,...,...
164,'2847212454','96MFS011224',05/04/2025 14:35:15,05/04/2025 14:35:31,"000000000384,27","000000000384,27","000000000038,43",NaN,NaN
165,'2845744246','96MFS011224',04/04/2025 18:23:07,04/04/2025 18:23:22,"000000000659,82","000000000659,82","000000000065,98",NaN,NaN
166,'2844233901','96MFS011224',03/04/2025 18:42:14,03/04/2025 18:42:29,"000000000551,45","000000000551,45","000000000055,15",NaN,NaN
167,'2842627354','96MFS011224',02/04/2025 18:35:01,02/04/2025 18:35:17,"000000000466,73","000000000466,73","000000000046,67",NaN,NaN
168,'2841035164','96MFS011224',01/04/2025 18:35:06,01/04/2025 18:35:24,"000000000336,09","000000000336,09","000000000033,61",NaN,NaN

In [8]:
Corrispettivi = Corrispettivi.loc[:, ['Data e ora rilevazione','Ammontare delle vendite (totale in euro)','Imposta vendite (totale in euro)']]

In [9]:
Corrispettivi['Ammontare delle vendite (totale in euro)'] = Corrispettivi['Ammontare delle vendite (totale in euro)'].str.replace(',', '.', regex=True)
Corrispettivi['Imposta vendite (totale in euro)'] = Corrispettivi['Imposta vendite (totale in euro)'].str.replace(',', '.', regex=True)

In [10]:
Corrispettivi['Ammontare delle vendite (totale in euro)']= pd.to_numeric(Corrispettivi['Ammontare delle vendite (totale in euro)'], errors='coerce')
Corrispettivi['Imposta vendite (totale in euro)']= pd.to_numeric(Corrispettivi['Imposta vendite (totale in euro)'], errors='coerce')

In [11]:
Corrispettivi['Data e ora rilevazione'] = pd.to_datetime(Corrispettivi['Data e ora rilevazione'], dayfirst=True).dt.normalize()
Corrispettivi = Corrispettivi.sort_values('Data e ora rilevazione')

In [12]:
Corrispettivi = Corrispettivi[Corrispettivi['Ammontare delle vendite (totale in euro)'] != 0]

In [13]:
Corrispettivi['ImportoTotaleCorrispettivi'] = Corrispettivi['Ammontare delle vendite (totale in euro)'] + Corrispettivi['Imposta vendite (totale in euro)']

In [14]:
Corrispettivi['ImportoTotaleCorrispettivi'] = Corrispettivi['ImportoTotaleCorrispettivi'].round(2)

In [15]:
Corrispettivi['Data'] = Corrispettivi['Data e ora rilevazione']

In [16]:
Corrispettivi = Corrispettivi.loc[:,['Data','ImportoTotaleCorrispettivi']]

In [17]:
Corrispettivi.to_csv('Corrispettivi.csv')

In [18]:
PrimoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Fatture emesse primo trimestre.csv', sep=';', encoding='latin1')

In [19]:
SecondoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Fatture emesse secondo trimestre.csv', sep=';', encoding='latin1')

In [20]:
Emesse = pd.concat([PrimoTrimestre, SecondoTrimestre], ignore_index=True)

In [21]:
Emesse = Emesse.loc[:,['Data emissione','Denominazione fornitore','Denominazione cliente','Imponibile/Importo (totale in euro)',
       'Imposta (totale in euro)']]

In [22]:
Emesse['Data emissione'] = pd.to_datetime(Emesse['Data emissione'], dayfirst=True).dt.normalize()

In [23]:
Emesse.sort_values('Data emissione', inplace=True)

In [24]:
Emesse['Imponibile/Importo (totale in euro)'] = Emesse['Imponibile/Importo (totale in euro)'].str.replace(',', '.', regex=True)
Emesse['Imposta (totale in euro)'] = Emesse['Imposta (totale in euro)'].str.replace(',', '.', regex=True)

In [25]:
Emesse['Imponibile/Importo (totale in euro)'] = pd.to_numeric(Emesse['Imponibile/Importo (totale in euro)'], errors='coerce')
Emesse['Imposta (totale in euro)'] = pd.to_numeric(Emesse['Imposta (totale in euro)'], errors='coerce')

In [26]:
Emesse['Bar'] = Emesse['Denominazione fornitore']
Emesse['Cliente'] = Emesse['Denominazione cliente']

In [29]:
Emesse

,Data emissione,Denominazione fornitore,Denominazione cliente,Imponibile/Importo (totale in euro),Imposta (totale in euro),Bar,Cliente
105,2025-01-07,BAR TORINO DI CARUSO PAOLO,SEMEC SRL,38.64,3.86,'BAR TORINO DI CARUSO PAOLO','SEMEC SRL'
104,2025-01-07,BAR TORINO DI CARUSO PAOLO,ASSO AGRICOLTURA SRLS SOC.AGRICOLA,9.09,0.91,'BAR TORINO DI CARUSO PAOLO','ASSO AGRICOLTURA SRLS SOC.AGRICOLA'
103,2025-01-08,BAR TORINO DI CARUSO PAOLO,SEMEC SRL,40.00,4.00,'BAR TORINO DI CARUSO PAOLO','SEMEC SRL'
102,2025-01-09,BAR TORINO DI CARUSO PAOLO,SEMEC SRL,25.45,2.55,'BAR TORINO DI CARUSO PAOLO','SEMEC SRL'
99,2025-01-10,BAR TORINO DI CARUSO PAOLO,SEMEC SRL,40.00,4.00,'BAR TORINO DI CARUSO PAOLO','SEMEC SRL'
...,...,...,...,...,...,...,...
110,2025-06-07,BAR TORINO DI CARUSO PAOLO,ENTUSA SRL,86.36,8.64,'BAR TORINO DI CARUSO PAOLO','ENTUSA SRL'
109,2025-06-09,BAR TORINO DI CARUSO PAOLO,GESIND SRL,7.73,0.77,'BAR TORINO DI CARUSO PAOLO','GESIND SRL'
108,2025-06-12,BAR TORINO DI CARUSO PAOLO,SIDERCEM,28.18,2.82,'BAR TORINO DI CARUSO PAOLO','SIDERCEM'
107,2025-06-14,BAR TORINO DI CARUSO PAOLO,ENTUSA SRL,36.36,3.64,'BAR TORINO DI CARUSO PAOLO','ENTUSA SRL'
106,2025-06-16,BAR TORINO DI CARUSO PAOLO,SEMEC SRL,45.45,4.55,'BAR TORINO DI CARUSO PAOLO','SEMEC SRL'

In [28]:
Emesse['Denominazione cliente'] = Emesse['Denominazione cliente'].str.replace("'", "", regex=True)
Emesse['Denominazione fornitore'] = Emesse['Denominazione fornitore'].str.replace("'", "", regex=True)

In [30]:
Emesse['ImportoTotaleVendite'] = Emesse['Imponibile/Importo (totale in euro)'] + Emesse['Imposta (totale in euro)']

In [31]:
Emesse['ImportoTotaleVendite'] = Emesse['ImportoTotaleVendite'].round()

In [32]:
Emesse['Data']= Emesse['Data emissione']

In [33]:
Emesse = Emesse.loc[:,['Data', 'Bar','Cliente','ImportoTotaleVendite']]

In [34]:
Emesse = Emesse[Emesse['Cliente'] != 'Mooney Servizi S.p.A.']

In [41]:
Emesse

,Data,Bar,Cliente,ImportoTotaleVendite
105,2025-01-07,BARTORINODICARUSOPAOLO,SEMEC SRL,42.0
104,2025-01-07,BARTORINODICARUSOPAOLO,ASSO AGRICOLTURA SRLS SOC.AGRICOLA,10.0
103,2025-01-08,BARTORINODICARUSOPAOLO,SEMEC SRL,44.0
102,2025-01-09,BARTORINODICARUSOPAOLO,SEMEC SRL,28.0
99,2025-01-10,BARTORINODICARUSOPAOLO,SEMEC SRL,44.0
...,...,...,...,...
110,2025-06-07,BARTORINODICARUSOPAOLO,ENTUSA SRL,95.0
109,2025-06-09,BARTORINODICARUSOPAOLO,GESIND SRL,8.0
108,2025-06-12,BARTORINODICARUSOPAOLO,SIDERCEM,31.0
107,2025-06-14,BARTORINODICARUSOPAOLO,ENTUSA SRL,40.0
106,2025-06-16,BARTORINODICARUSOPAOLO,SEMEC SRL,50.0

In [38]:
Emesse['Bar'] = Emesse['Bar'].str.replace("'",'', regex=True)

In [40]:
Emesse['Cliente'] = Emesse['Cliente'].str.replace("'",'', regex=True)

In [42]:
Emesse.to_csv('FattureEmesse.csv')

In [43]:
PrimoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Fatture ricevute primo trimestre.csv', sep=';', encoding='latin1')

In [44]:
SecondoTrimestre = pd.read_csv(r'C:\Users\fabio\OneDrive\Desktop\AgenziaDelleEntrate\FileSuCuiLavorare\Fatture ricevute secondo trimestre.csv', sep=';', encoding='latin1')

In [45]:
Ricevute = pd.concat([PrimoTrimestre, SecondoTrimestre], ignore_index=True)

In [46]:
Ricevute = Ricevute.loc[:,['Data emissione','Denominazione fornitore','Denominazione cliente','Imponibile/Importo (totale in euro)',
       'Imposta (totale in euro)']]

In [159]:
Ricevute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Data emissione                       433 non-null    datetime64[ns]
 1   Denominazione fornitore              433 non-null    object
 2   Denominazione cliente                433 non-null    object
 3   Imponibile/Importo (totale in euro)  433 non-null    object
 4   Imposta (totale in euro)             433 non-null    object
 5   Data                                 433 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 20.4+ KB

In [47]:
Ricevute['Data emissione'] = pd.to_datetime(Ricevute['Data emissione'], dayfirst=True).dt.normalize()
Ricevute['Data'] = Ricevute['Data emissione']

In [48]:
Ricevute = Ricevute.loc[:,['Data','Denominazione fornitore','Denominazione cliente','Imponibile/Importo (totale in euro)',
       'Imposta (totale in euro)']]

In [49]:
Ricevute['Imponibile/Importo (totale in euro)'] = Ricevute['Imponibile/Importo (totale in euro)'].str.replace(',', '.', regex=True)
Ricevute['Imposta (totale in euro)'] = Ricevute['Imposta (totale in euro)'].str.replace(',', '.', regex=True)

In [50]:
Ricevute['Imponibile/Importo (totale in euro)'] = pd.to_numeric(Ricevute['Imponibile/Importo (totale in euro)'], errors='coerce')
Ricevute['Imposta (totale in euro)'] =pd.to_numeric(Ricevute['Imposta (totale in euro)'], errors='coerce')

In [51]:
Ricevute['ImportoTotaleAcquisti'] = Ricevute['Imponibile/Importo (totale in euro)'] + Ricevute['Imposta (totale in euro)']
Ricevute['ImportoTotaleAcquisti'] = Ricevute['ImportoTotaleAcquisti'].round()

In [52]:
Ricevute = Ricevute.loc[:,['Data','Denominazione fornitore','Denominazione cliente','ImportoTotaleAcquisti']]

In [53]:
Ricevute['Bar'] = 'BAR TORINO DI CARUSO PAOLO'

In [54]:
Ricevute['Fornitore'] = Ricevute['Denominazione fornitore']

In [55]:
Ricevute = Ricevute.loc[:,['Data','Fornitore','Bar','ImportoTotaleAcquisti']]

In [56]:
Ricevute['Fornitore'] = Ricevute['Fornitore'].str.upper()
Ricevute['Fornitore'] = Ricevute['Fornitore'].str.replace("'", "", regex=True)

In [284]:
Ricevute = Ricevute [Ricevute['Fornitore'] != 'LOGISTA ITALIA S.P.A.']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'EMMETEC ITALIA SRL']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'MOONEY S.P.A.']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'COSTHA WARNAKULASURIYA']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'EDISON ENERGIA S.P.A.']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'LOTTERIE NAZIONALI SRL']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'WIND TRE S.P.A.']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'S.I.A.E.']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'DE.CO. SYSTEM NEW SOCIETA COOPERATIVA']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'ORAZIO PANIOTO ']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'EMMETEC ITALIA SRL']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'OVERTEC SRL']
Ricevute = Ricevute [Ricevute['Fornitore'] != 'E.CO.M.A.P. S.C.P.A.']

In [61]:
Ricevute

,Data,Fornitore,Bar,ImportoTotaleAcquisti
233,2024-12-28,FRIGO ARETUSA S.R.L.,BAR TORINO DI CARUSO PAOLO,80.0
226,2024-12-30,UNIGROUP S.P.A.,BAR TORINO DI CARUSO PAOLO,140.0
234,2024-12-31,KENYA CAFFE DI TROVATO DOMENICO & C.SNC,BAR TORINO DI CARUSO PAOLO,198.0
230,2024-12-31,ALICATA GROUP SRL,BAR TORINO DI CARUSO PAOLO,85.0
228,2024-12-31,PARMALAT SPA,BAR TORINO DI CARUSO PAOLO,102.0
...,...,...,...,...
240,2025-06-11,FRIGO ARETUSA S.R.L.,BAR TORINO DI CARUSO PAOLO,87.0
247,2025-06-12,MARTINI ALIMENTARE SRL,BAR TORINO DI CARUSO PAOLO,101.0
239,2025-06-12,ERGON S.P.A.,BAR TORINO DI CARUSO PAOLO,154.0
241,2025-06-14,MARTINI ALIMENTARE SRL,BAR TORINO DI CARUSO PAOLO,70.0
237,2025-06-16,DUESSE CARTOLIBRERIA SRL,BAR TORINO DI CARUSO PAOLO,8.0

In [60]:
Ricevute = Ricevute.sort_values('Data')

In [224]:
Ricevute

,Data,Fornitore,Bar,ImportoTotaleAcquisti
233,2024-12-28,FRIGO ARETUSA S.R.L.,BAR TORINO DI CARUSO PAOLO,80.0
226,2024-12-30,UNIGROUP S.P.A.,BAR TORINO DI CARUSO PAOLO,140.0
230,2024-12-31,ALICATA GROUP SRL,BAR TORINO DI CARUSO PAOLO,85.0
228,2024-12-31,PARMALAT SPA,BAR TORINO DI CARUSO PAOLO,102.0
234,2024-12-31,KENYA CAFFE DI TROVATO DOMENICO & C.SNC,BAR TORINO DI CARUSO PAOLO,198.0
...,...,...,...,...
240,2025-06-11,FRIGO ARETUSA S.R.L.,BAR TORINO DI CARUSO PAOLO,87.0
239,2025-06-12,ERGON S.P.A.,BAR TORINO DI CARUSO PAOLO,154.0
247,2025-06-12,MARTINI ALIMENTARE SRL,BAR TORINO DI CARUSO PAOLO,101.0
241,2025-06-14,MARTINI ALIMENTARE SRL,BAR TORINO DI CARUSO PAOLO,70.0
237,2025-06-16,DUESSE CARTOLIBRERIA SRL,BAR TORINO DI CARUSO PAOLO,8.0

In [62]:
Ricevute = Ricevute[Ricevute['Data'].dt.year != 2024]

In [285]:
Ricevute.to_csv('FattureRicevute.csv')

In [286]:
Merge = pd.merge(Emesse, Ricevute, on=['Data', 'Bar'], how='outer', suffixes=('_Emesse', '_Ricevute'))

In [65]:
Merge

,Data,Bar,Cliente,ImportoTotaleVendite,Fornitore,ImportoTotaleAcquisti
0,2025-01-02,BAR TORINO DI CARUSO PAOLO,NaN,NaN,FRIGO ARETUSA S.R.L.,46.0
1,2025-01-02,BAR TORINO DI CARUSO PAOLO,NaN,NaN,UNIGROUP S.P.A.,120.0
2,2025-01-02,BAR TORINO DI CARUSO PAOLO,NaN,NaN,UNIGROUP S.P.A.,41.0
3,2025-01-02,BAR TORINO DI CARUSO PAOLO,NaN,NaN,LA DISTRIBUTRICE SRL,150.0
4,2025-01-02,BAR TORINO DI CARUSO PAOLO,NaN,NaN,R.M. DI RICCARDO MUNZONE,36.0
...,...,...,...,...,...,...
514,2025-06-12,BARTORINODICARUSOPAOLO,SIDERCEM,31.0,NaN,NaN
515,2025-06-14,BAR TORINO DI CARUSO PAOLO,NaN,NaN,MARTINI ALIMENTARE SRL,70.0
516,2025-06-14,BARTORINODICARUSOPAOLO,ENTUSA SRL,40.0,NaN,NaN
517,2025-06-16,BAR TORINO DI CARUSO PAOLO,NaN,NaN,DUESSE CARTOLIBRERIA SRL,8.0
518,2025-06-16,BARTORINODICARUSOPAOLO,SEMEC SRL,50.0,NaN,NaN

In [408]:
Merged = pd.merge(Merge, Corrispettivi, on='Data', how='outer')

In [456]:
Merged

,Data,Bar,Cliente,ImportoTotaleVendite,Fornitore,ImportoTotaleAcquisti,ImportoTotaleCorrispettivi
0,2025-01-02,BAR TORINO DI CARUSO PAOLO,-,0.0,FRIGO ARETUSA S.R.L.,46.0,162.5
1,2025-01-02,BAR TORINO DI CARUSO PAOLO,-,0.0,UNIGROUP S.P.A.,120.0,0.0
2,2025-01-02,BAR TORINO DI CARUSO PAOLO,-,0.0,UNIGROUP S.P.A.,41.0,0.0
3,2025-01-02,BAR TORINO DI CARUSO PAOLO,-,0.0,LA DISTRIBUTRICE SRL,150.0,0.0
4,2025-01-02,BAR TORINO DI CARUSO PAOLO,-,0.0,R.M. DI RICCARDO MUNZONE,36.0,0.0
...,...,...,...,...,...,...,...
523,2025-06-13,NaN,-,0.0,-,0.0,322.7
524,2025-06-14,BAR TORINO DI CARUSO PAOLO,-,0.0,MARTINI ALIMENTARE SRL,70.0,204.9
525,2025-06-14,BARTORINODICARUSOPAOLO,ENTUSA SRL,40.0,-,0.0,0.0
526,2025-06-16,BAR TORINO DI CARUSO PAOLO,-,0.0,DUESSE CARTOLIBRERIA SRL,8.0,354.7
527,2025-06-16,BARTORINODICARUSOPAOLO,SEMEC SRL,50.0,-,0.0,0.0

In [436]:
mask = Merged['ImportoTotaleCorrispettivi'].duplicated(keep='first')
mask.loc[465] = False
Merged.loc[mask, 'ImportoTotaleCorrispettivi'] = np.nan

In [411]:
Merged.loc[[479,477,475,473],'ImportoTotaleAcquisti']= np.nan

In [410]:
Merged.loc[481, 'ImportoTotaleVendite'] = np.nan

In [448]:
Merged = Merged.loc[:,['Data', 'Bar', 'Cliente', 'ImportoTotaleVendite', 'Fornitore',
       'ImportoTotaleAcquisti', 'ImportoTotaleCorrispettivi']]

In [452]:
Merged['ImportoTotaleVendite'] = Merged['ImportoTotaleVendite'].fillna(0)
Merged['ImportoTotaleAcquisti'] = Merged['ImportoTotaleAcquisti'].fillna(0)
Merged['ImportoTotaleCorrispettivi'] = Merged['ImportoTotaleCorrispettivi'].fillna(0)

In [455]:
Merged['Cliente']=Merged['Cliente'].fillna('-')
Merged['Fornitore']=Merged['Fornitore'].fillna('-')

In [457]:
Merged.to_csv('Merged.csv')